@font-face {
  font-family: 'Kelson';
  src: url("kelson_sans_regular-webfont.woff") format("woff"); }
* {
  font-family: 'Kelson', 'Helvetica', 'Arial', 'sans-serif' !important; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 100;
  max-width: 100%;
  transition: 0.3s ease; }
  .navbar .nav-item {
    text-align: center;
    line-height: 80px;
    color: #2194ab !important;
    cursor: pointer;
    transition: 0.3s ease; }
    @media screen and (max-width: 764px) {
      .navbar .nav-item {
        font-size: 14px; } }
    .navbar .nav-item .logo-img {
      max-height: 80px; }
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.3s ease; }
    .navbar.scrolled .nav-item {
      color: #2194ab;
      transition: 0.3s ease; }

.content-area {
  position: relative; }
  .content-area .section {
    position: relative; }
    .content-area .section.first {
      height: 100vh;
      width: 100vw;
      position: relative;
      background: url("../img/scs-hero-img.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      .content-area .section.first .left {
        margin-top: 180px;
        margin-left: 10%;
        position: absolute; }
        .content-area .section.first .left .header, .content-area .section.first .left .subheader {
          color: #2194ab; }
        .content-area .section.first .left .button {
          border-color: #2194ab;
          color: #2194ab; }
        .content-area .section.first .left .subheader {
          max-width: 550px; }
      .content-area .section.first::before {
        content: '';
        background-color: #2194ab;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .content-area .section.first .video-wrapper {
        position: absolute;
        top: 180px;
        left: 5%;
        opacity: 0;
        z-index: -1;
        transition: 1s ease; }
        .content-area .section.first .video-wrapper.show {
          transform: translateY(0px);
          opacity: 1;
          z-index: 0;
          transition: 1s ease; }
        .content-area .section.first .video-wrapper .close {
          position: absolute;
          top: -10px;
          right: -10px;
          border-radius: 50%;
          height: 25px;
          width: 25px;
          background-color: #2194ab;
          color: white;
          text-align: center;
          line-height: 25px;
          font-size: 14px;
          cursor: pointer; }
      .content-area .section.first .down-wrapper {
        position: absolute;
        bottom: 25px;
        text-align: center;
        width: 100%;
        left: 0; }
        .content-area .section.first .down-wrapper .down {
          color: #2194ab; }
          .content-area .section.first .down-wrapper .down:hover {
            cursor: pointer; }
    .content-area .section.second .header {
      text-align: center;
      color: #2194ab;
      margin: 25px 0;
      margin-top: 50px; }
    .content-area .section.second .pillars {
      margin: 0 10%; }
      .content-area .section.second .pillars .pillars-item {
        height: 350px;
        text-align: center; }
        .content-area .section.second .pillars .pillars-item .circle {
          border-radius: 50%;
          height: 100px;
          width: 100px;
          background-color: #7b7b7b;
          margin: 0 auto; }
        .content-area .section.second .pillars .pillars-item .header {
          color: #2194ab; }
          @media screen and (max-width: 764px) {
            .content-area .section.second .pillars .pillars-item .header {
              font-size: 16px; } }
        .content-area .section.second .pillars .pillars-item .desc {
          padding: 0 50px; }
          @media screen and (max-width: 764px) {
            .content-area .section.second .pillars .pillars-item .desc {
              font-size: 14px;
              padding: 0; } }
    .content-area .section.third {
      background: linear-gradient(to right, #4dc5ec, #1b7688); }
      .content-area .section.third .left {
        margin-left: 10%;
        padding: 25px 0;
        max-width: 45%; }
        @media screen and (max-width: 764px) {
          .content-area .section.third .left {
            width: 80%;
            max-width: 80%; } }
        .content-area .section.third .left .header, .content-area .section.third .left .subheader, .content-area .section.third .left .button {
          color: white; }
        .content-area .section.third .left .button.ghost:hover {
          color: #4dc5ec; }
        .content-area .section.third .left .subheader {
          max-width: 550px; }
      .content-area .section.third .right .img {
        height: 303px; }
    .content-area .section.fourth .picture-wrapper {
      max-height: 450px;
      overflow: hidden;
      position: relative; }
      .content-area .section.fourth .picture-wrapper .picture {
        width: 100%;
        height: auto;
        margin-top: -100px; }
        @media screen and (max-width: 764px) {
          .content-area .section.fourth .picture-wrapper .picture {
            margin-top: 0; } }
      .content-area .section.fourth .picture-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(247, 247, 247, 0), #f7f7f7);
        padding: 25px 0; }
    .content-area .section.fourth .four-point {
      margin: 0 10%;
      position: relative; }
      .content-area .section.fourth .four-point .point-item {
        text-align: center;
        position: relative; }
        .content-area .section.fourth .four-point .point-item .circle {
          border-radius: 50%;
          height: 100px;
          width: 100px;
          border: 2px solid #4dc5ec;
          border-width: 2px;
          border-color: white;
          display: block;
          margin: 25px auto;
          background-color: white;
          position: relative;
          line-height: 100px;
          color: white;
          font-size: 36px;
          transition: 1s ease; }
          @media screen and (max-width: 764px) {
            .content-area .section.fourth .four-point .point-item .circle {
              height: 55px;
              width: 55px;
              line-height: 55px;
              border-color: #4dc5ec;
              color: #4dc5ec; } }
        @media screen and (max-width: 764px) {
          .content-area .section.fourth .four-point .point-item .desc {
            font-size: 14px;
            padding-top: 25px; } }
      .content-area .section.fourth .four-point::before {
        content: '';
        height: 2px;
        width: 0%;
        position: absolute;
        left: 10%;
        background-color: #4dc5ec;
        top: 75px;
        transition: 4s ease; }
        @media screen and (max-width: 764px) {
          .content-area .section.fourth .four-point::before {
            display: none; } }
      .content-area .section.fourth .four-point.in-view::before {
        -webkit-animation: lineWidth 1s;
        -moz-animation: lineWidth 1s;
        -o-animation: lineWidth 1s;
        animation: lineWidth 1s;
        width: 80%;
        transition: 4s ease; }
      .content-area .section.fourth .four-point.in-view .point-item .circle.first {
        -webkit-animation: borderRad 1s;
        -moz-animation: borderRad 1s;
        -o-animation: borderRad 1s;
        animation: borderRad 1s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -o-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .content-area .section.fourth .four-point.in-view .point-item .circle.second {
        -webkit-animation: borderRad 1s;
        -moz-animation: borderRad 1s;
        -o-animation: borderRad 1s;
        animation: borderRad 1s;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -o-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .content-area .section.fourth .four-point.in-view .point-item .circle.third {
        -webkit-animation: borderRad 1s;
        -moz-animation: borderRad 1s;
        -o-animation: borderRad 1s;
        animation: borderRad 1s;
        -webkit-animation-delay: 2s;
        -moz-animation-delay: 2s;
        -o-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .content-area .section.fourth .four-point.in-view .point-item .circle.fourth {
        -webkit-animation: borderRad 1s;
        -moz-animation: borderRad 1s;
        -o-animation: borderRad 1s;
        animation: borderRad 1s;
        -webkit-animation-delay: 3s;
        -moz-animation-delay: 3s;
        -o-animation-delay: 3s;
        animation-delay: 3s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
    .content-area .section.fourth .header.testimonials {
      color: #1b7688;
      text-align: center;
      margin-top: 50px; }
    .content-area .section.fourth .testimonials-grid-wrapper {
      margin-bottom: 25px;
      padding: 0 5%; }
      .content-area .section.fourth .testimonials-grid-wrapper .testimonial-item .picture {
        border-radius: 50%;
        height: 50px;
        width: 50px; }
      .content-area .section.fourth .testimonials-grid-wrapper .testimonial-item .testimonial {
        width: 70%; }
    .content-area .section.fourth .pricing-wrapper {
      padding: 0 5%;
      margin: 25px 0; }
      .content-area .section.fourth .pricing-wrapper .pricing .price-point {
        padding: 0 10px;
        height: 450px; }
        .content-area .section.fourth .pricing-wrapper .pricing .price-point .inner-price {
          position: relative;
          border: 1px solid #333333;
          padding: 15px;
          height: 450px; }
          .content-area .section.fourth .pricing-wrapper .pricing .price-point .inner-price .price {
            font-size: 36px;
            text-align: center;
            color: #1b7688; }
          .content-area .section.fourth .pricing-wrapper .pricing .price-point .inner-price .purchase {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            margin: 0; }
    .content-area .section.fourth .cities-wrapper {
      margin: 50px 0;
      text-align: center;
      color: #1b7688; }
      .content-area .section.fourth .cities-wrapper .header {
        color: #1b7688; }
      .content-area .section.fourth .cities-wrapper .cities-list {
        max-width: 60%;
        margin: 0 auto; }
      .content-area .section.fourth .cities-wrapper .cities-img .img {
        max-width: 60%; }

.footer {
  text-align: center;
  margin: 50px 0; }
  .footer .header, .footer .subheader {
    color: #1b7688; }
  .footer .social-list {
    padding: 50px 10%;
    color: #1b7688; }
    .footer .social-list:hover {
      cursor: pointer; }

.button.ghost {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.3s ease; }
  .button.ghost:hover {
    background-color: white;
    color: #4dc5ec;
    transition: 0.3s ease; }

.hidden {
  display: none; }

@-webkit-keyframes lineWIdth {
  from {
    width: 0%; }
  to {
    width: 80%; } }
@-moz-keyframes lineWIdth {
  from {
    width: 0%; }
  to {
    width: 80%; } }
@-o-keyframes lineWIdth {
  from {
    width: 0%; }
  to {
    width: 80%; } }
@keyframes lineWIdth {
  from {
    width: 0%; }
  to {
    width: 80%; } }
@-webkit-keyframes borderRad {
  from {
    color: white;
    border-color: white; }
  to {
    color: #4dc5ec;
    border-color: #4dc5ec; } }
@-moz-keyframes borderRad {
  from {
    color: white;
    border-color: white; }
  to {
    color: #4dc5ec;
    border-color: #4dc5ec; } }
@-o-keyframes borderRad {
  from {
    color: white;
    border-color: white; }
  to {
    color: #4dc5ec;
    border-color: #4dc5ec; } }
@keyframes borderRad {
  from {
    color: white;
    border-color: white; }
  to {
    color: #4dc5ec;
    border-color: #4dc5ec; } }

/*# sourceMappingURL=custom.css.map */
