//Typography

h1, h2, h3, h4, h5, h6, p {

//  Light Grey
  &.light {
    color: $lightgrey;
  }
//Gold
  &.gold {
    color: $gold;
  }

}

//Buttons
button {
  &.ghost {
    padding: 5px 20px;
    @include border-radius(3px);
    @include bc(transparent);
    border: 1px solid $gold;
    color: $gold;
//    @extend %centerer;
    @include transition(all, .3s, ease);

    &:hover {
      @include bc($gold);
      color: $black;
      @include transition(all, .3s, ease);
    }
  }
}



//Animation for menu
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 80%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
  :nth-last-child(2) {
    margin-bottom: 20px;
  }
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(50% / 7);
  min-height: 24px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.overlay ul li a {
  font-size: 24px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-transform: uppercase;
  letter-spacing: .3em;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: $gold;
}

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 24px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

#trigger-overlay{
  @include absPosition(0, auto, auto, 0);
  z-index: 5;
}

.social {

  a {
    text-decoration: none;
    background-color: white;
    color: black;

    border-radius: 50%;
    padding: 5px;

    margin-right: 10px;

    &:hover {
      background-color: $gold;
      text-decoration: none;
    }
  }
}